useDynLib(lme4, .registration=TRUE)

import("Matrix")
importFrom("graphics", plot)
import("stats", "lattice")
#importFrom("utils", head, tail)  ## already available in Matrix

export(
       "gsummary",
       "hatTrace",
       "lmList",
       "lmer",
       "mcmcsamp",
       "pedigree",
       "pooledSD"
       )

exportClasses(
              "coef.lmer",
              "glmer",
              "lmList",
              "lmer",
              "mer",
              "pedigree",
              "ranef.lmer",
              "summary.glmer",
              "summary.lmer",
              "summary.mer"
              )

exportMethods(
              "BIC",
              "VarCorr",
              "anova",
              "chol",
              "coef",
              "coerce",
              "confint",
              "deviance",
              "fitted",
              "fixef",
              "formula",
              "gsummary",
              "head",
              "logLik",
              "mcmcsamp",
              "plot",
              "print",
              "qqmath",
              "ranef",
              "resid",
              "residuals",
              "show",
              "simulate",
              "summary",
              "tail",
              "terms",
              "update",
              "vcov",
              "with"
              )

