useDynLib("lme4")
importFrom("stats4", "coef", "logLik", "plot", "summary", "update")
importFrom("stats", "anova", "fitted", "formula", "model.matrix", "residuals")

export(
       "EMupdate<-",
       "GLMM",
       "LMEgradient",
       "Names",
       "Names<-",
       "VarCorr",
       "coef<-",
       "corMatrix",
       "fixef",
       "getCovariateFormula",
       "getGroups",
       "getGroupsFormula",
       "getResponse",
       "getResponseFormula",      
       "glmmLa2LogLikComp",
       "glmmLa2RespWt",
       "isInitialized",
       "lmList",
       "lme",
       "lmeControl",
       "pdDiag",
       "pdFactor",
       "pdIdent",
       "pdLogChol",
       "pdMatrix",
       "pdNatural",
       "pdgradient",
       "pooledSD",
       "ranef"
       )

exportClasses(
              "VarCorr",
              "corrmatrix",
              "glmm",
              "groupedData",
              "lmList",
              "lme",
              "lmeLevel",
              "lmeLevelList",
              "pdCompSymm",
              "pdDiag",
              "pdIdent",
              "pdLogChol",
              "pdMat",
              "pdNatural",
              "pdfactor",
              "pdmatrix",
              "reStruct",
              "summary.glmm",
              "summary.lme",
              "summary.pdMat",
              "summary.reStruct"
              )

exportMethods(
              "$",
              "$<-",
              "EMupdate<-",
              "LMEgradient",
              "Names",
              "Names<-",
              "[",
              "[<-",
              "[[",
              "anova",
              "coef",
              "coef<-",
              "coerce",
              "coerce<-",
              "dim",
              "fitted",
              "fixef",
              "formula",
              "isInitialized",
              "logLik",
              "model.matrix",
              "names",
              "names<-",
              "pdgradient",
              "plot",
              "ranef",
              "residuals",
              "show",
              "solve",
              "summary",
              "update"
              )
