import("Matrix")
importFrom("graphics","plot")
#import("stats")

export(
       "gsummary",
       "lmList",
       "pooledSD"
       )

exportClasses("lmList")
              
exportMethods(
              "coef",
              "confint",
              "formula",
              "gsummary",
              "plot",
              "show",
              "update"
              )
